.navigation{
	display: inline-block;
	text-align: center;
	white-space: pre;
	padding-right: 40px;
}
h1{
	text-align: center;
	text-transform: uppercase;
	color: red;
}
#nav{
	text-align: center;
}
img{
	vertical-align: middle;
}
.img-responsive.about{
	border-style:outset;
	border-width: 3px;
	border-color: black;
	margin-right:auto;
	margin-left: auto;

}
.line{
	height: 5px;
	width: 100%;
	background-color: green;
}
h3,h4{
	text-align: center;
}
.under{
	text-decoration: underline;
}
.bios{
	text-align: left;
}